body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent body scroll */
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.reactflow-wrapper {
  height: 100%;
  width: 100%;
}

.dndnode {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  background-color: black;
}